.navbar {
  width: 100%;
}

.dropdown-header {
  padding-left: 10px;
  margin-left: 20px;
}

.list-group-item {
  text-decoration:none;
  color: #000;
}

.form-control {
  margin-right: 5px;
}
#buddha-image  {
 width: 100%;
 margin-top: 20px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
#why {
  margin-top: 5rem;
  font-size: 2rem;
  text-align: right;
}

#para{
  text-align: right;
} 

.middle-div {
  margin-bottom: 15px;
}

#gallery-title {
font-size: 38px;
padding-top:20px;
padding-right: 30px;
text-align: right;
}

.img-responsive {
  width: 100%;
  margin: 20px;
}

.img {
  width: 18px;
}
.social {
    width: 30px;
    margin: 5px;
}

#testimonal-img1 {
  width: 100%;
  padding: 20px;  
}
#testimonal-image2{
  width: 60%;
  height: 50%;
  padding-top: 20px;
  padding-bottom: 10px;
}

#contact-card {
  margin: 30px 30px;
}